appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat @ file:///home/conda/feedstock_root/build_artifacts/automat_1667331175863/work
bcrypt @ file:///D:/bld/bcrypt_1651441731550/work
brotlipy @ file:///D:/bld/brotlipy_1648854320485/work
certifi==2022.9.24
cffi @ file:///D:/bld/cffi_1656782950753/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
colorama==0.4.6
constantly==15.1.0
cryptography @ file:///C:/b/abs_36x9ifdcl4/croot/cryptography_1665612655344/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
dnspython==2.2.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
kafka-python==2.0.2
lxml @ file:///D:/bld/lxml_1656759469308/work
mongoengine==0.24.2
numpy==1.23.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.5.1
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1667392207259/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
PyHamcrest @ file:///home/conda/feedstock_root/build_artifacts/pyhamcrest_1663745418692/work
pymongo==4.3.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
pytz==2022.6
pywin32==227
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
Scrapy @ file:///D:/bld/scrapy_1667396895476/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1664943488272/work
tqdm==4.64.1
Twisted @ file:///C:/Windows/Temp/abs_ccblv2rzfa/croots/recipe/twisted_1659592764512/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1649418015695/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wincertstore==0.2
zope.interface @ file:///C:/ci/zope.interface_1625036260333/work
